.head {
 padding: 0px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid #999;
 box-sizing: border-box;
}
.logo, .navbar, .navbar li {
 display: inline-block;
 cursor:pointer;
}
.navbar a {
 display: block;
 padding: 14px 18px;
 text-decoration: none;
 text-transform: uppercase;
 color:#222;
 text-shadow: .2px .2px 2px #555;
 float: left;
}
.logo a{
 display: block;
 text-decoration: none;
 color: #555;
 padding: 14px 20px;
 font-size: 28px;
 font-weight: bold;
 text-transform: capitalize;
 text-shadow:.5px .2px 2px #222;
}
.middle-section {
 background: #333;
 color: #edff;
 padding: 7rem;
 font-family: monospace;
 overflow: hidden;
 position: relative;
 display: flex;
 justify-content: space-between;
 box-shadow: 0px 3px 6px #000;
}
.middle-section span {
 font-size: 2em;
}
.middle-section font {
 color: #fff;
 font-weight: bold;
 font-family: sans-serif;
}
.box-mirror {
 background: #666;
 width: 800px;
 height: 1200px;
 transform: rotate(-20deg);
 transform-origin: 50% 50%;
 position: absolute;
 right: -180px;
 top: -200px;
 opacity:.8;
 border:20px solid #444;
}
.social-icons {
 margin:30px 0px;
 padding: 0;
 transition: all .2s;
 width: 220px;
 text-align: center;
}
.social-icons li {
 display: inline-block;
}
.social-icons a{
 margin: 10px;
 text-transform: uppercase;
 color: #fff;
 text-decoration: none;
 font-family: sans-serif;
}

.final-wrapper {
 padding: 70px 100px;
 padding-right: 150px;
 display:flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.final-wrapper h5 {
 text-transform: uppercase;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 color: #bbb;
 font-weight: bold;
 margin: 5px 0;
}
.final-wrapper span {
 text-transform: capitalize;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: large;
 font-weight: 700;
}

.final-wrapper p {
 letter-spacing: .08ch;
 line-height: 2.5ch;
 word-spacing: .5ch;
 text-indent: 30px;
 text-shadow: 1px 1px 2px #888;
}

.card {
 padding: 30px;
 border: 1px solid #666;
 width: 480px;
 border-radius: 10px;
 box-sizing: border-box;
 text-wrap: break-word;
 box-shadow: 2px 3px 4px #444;
}
.profile{
 position: relative;
}

.profile-content{
 /* position:absolute; */
 transform: rotateY(180deg) skewY(7deg) translateY(40px);
 right: 0;
 width: 360px;
 outline: 10px solid #111;
 border: 10px solid transparent;
 box-shadow: -6px 3px 6px 10px rgb(59, 57, 57);
}

.profile-reflect  {
 margin-top: 10px;
 transform: translateY(180px) translateX(-50px) rotateY(180deg) rotateX(180deg) skewY(-30deg) rotate(10deg);
 border: 10px solid transparent;
 opacity:.5;
 outline: 10px solid #111;
}
.rating{
 padding-top: 50px;
}
.rating h5 {
 color: #555;
 font-weight: bold;
}
.rating span{
 display: block;
 height: 5px;
 background: #333;
 border: 2px solid #444;
 width: 100%;
}
.service-wrapper {
 transform: translateY(40px);
 padding: 50px 100px;
 background-image:linear-gradient( rgba(0,0,0,0.7) , rgba(0,0,0,0.7) ), url("./bg02.jpg") ;
 background-position: left top;
 background-size: cover;
 background-repeat: no-repeat;
 padding-bottom: 6%;
 color: #fff;
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.service-wrapper h4 {
 color: #aaa;
 font-size: 14px;
 text-transform: uppercase;
 text-shadow: 1px 2px 2px #333;
 margin:0;
 letter-spacing: 2px;
}
.service-wrapper h3 {
 color: #fffd;
 text-shadow: 1px 2px 2px #999;
 font-size: 29px;
 margin: 10px 0;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 letter-spacing: 5px;
}
.service-wrapper p {
 color: #fffb;
 letter-spacing: 1px;
}
.service-wrapper button {
 padding: 14px 18px;
 border: none;
 font-size: 14px;
 text-transform: uppercase;
 font-weight: bold;
 margin-left: 0px;
 outline: 1px solid #111;
}
.tag-service-wrapper {
 width : 430px;
 position : relative;
}
.position {
 margin: 20px;
 background: #fff;
 color: #111;
 border: 1px solid #333;
 outline: 20px solid #fff;
 width: 180px;
 height: 180px;
 margin: 10px;
 text-align: center;
 cursor: pointer;
}
.position h3 {
 color: #111;
 text-shadow: none;
 font-size: 20px;
 font-weight: normal;
 letter-spacing: 0.5px;
}
.position p {
 color: #111;
}

.position i {
 padding: 15px;
 border: 1px solid #111;
 border-radius: 50%;
 margin: 10px;
 box-sizing: border-box;
}
.work {
 display: grid;
 grid-template-columns: 200px 200px;
 grid-column-gap: 50px;
 grid-row-gap: 12px;
}
.btn-nav{
 grid-column: 1/3;
 margin: 15px auto;
}
.btn-nav button {
 padding: 10px;
 color: #222;
 font-weight: normal;
 background: #fffa;
}

.btn-nav button:hover {
 background: #fff;
 cursor: pointer;
}

.footer {
 transform: translateY(40px);
 border: 2px solid #555;
 padding:  40px;
 text-align: center
}

.footer h3 {
 color: #888;
 text-transform: uppercase;
 font-size: 12px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 margin: 7px;
}
.footer span {
 color: #333;
 text-transform: capitalize;
 font-weight: 700;
 font-size: 25px;
 margin:0;
 letter-spacing: 2px;
}

.footer ul {
 margin: 20;
 padding: 10px;
}

.footer li {
 display: inline-block;
}

.footer a {
 display:block;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 15px;
 color: #222;
 padding: 1px 8px;
 border-bottom: 2px solid transparent;
 padding-bottom: 10%;
 height : 20px;
 box-sizing:border-box;
}
.footer a:active , .footer a:hover, .footer a:focus{
 border-bottom: 2px solid #444;
}

.navbar a:hover {
 color: #555;
 transform: scale(1.2);
}

.social-icons a:hover {
 margin: 0 15px;
 color: #ffff;
 font-size: inherit+10px;
 padding-bottom: 3px;
 border-bottom: 3px solid #fff;
}

.service-wrapper button:hover{
 background: #fff;
}